{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Inter,sans-serif;
    background:black;
}
#bg{
    position:fixed;
    inset:0;
    background:
    url("https://raw.githubusercontent.com/pphuwis/realmqfuq/refs/heads/index/IMG_1690.jpeg")
    center center/cover;
    filter:blur(2px);
    transform:scale(1.05);
    z-index:-3;
}
#bg::after{
    content:"";
    position:absolute;
    inset:0;
    background:
    rgba(0,0,0,.55);
}
#loading-screen{
    position:fixed;
    inset:0;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
    z-index:9999;
}
#overlay{
    position:fixed;
    inset:0;
    background:black;
    display:none;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
    font-weight:700;
    z-index:9998;
    cursor:pointer;
}
#profile-section{
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.profile{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    box-shadow:
    0 0 25px rgba(255,255,255,.1),
    0 0 70px rgba(255,255,255,.05);
}
.title{
    margin-top:20px;
    color:white;
    font-size:46px;
    font-weight:900;
    text-shadow:
    0 0 20px rgba(255,255,255,.1);
}
.desc{
    margin-top:15px;
    color:#bdbdbd;
    font-size:20px;
}
.particle{
    position:absolute;
    background:white;
    border-radius:50%;
    opacity:.15;
    animation:float linear infinite;
}
@keyframes float{
    from{
        transform:translateY(100vh);
    }
    to{
        transform:translateY(-100px);
    }
}
